{% extends 'base.html' %}

{% block main %}
<div class="container">
  <h1 class="page-header">Contact</h1><br>
  <h4>Contact the developers of the website</h4><br>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="alert alert-danger">
        <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% endwith %}
  <form method="POST" action="{{ url_for('contact') }}">
    {{ form.csrf_token }}
    <h4>Name</h4><br>
    <div class="box">{{ form.name.label }} {{ form.name(size=20, class="form-control") }}</div>
    <h4>Email</h4><br>
    <div class="box">{{ form.email.label }} {{ form.email(size=20, class="form-control", type="email") }}</div>
    <h4>Subject</h4><br>
    <div class="box">{{ form.subject.label }} {{ form.subject(size=20, class="form-control") }}</div>
    <h4>Message</h4><br>
    <div id="box1">{{ form.message.label }} {{ form.message(size=40, class="form-control") }}</div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
{% endblock %}